body
{
    text-align: center;
    background-color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding: 5px 25px;
}

button
{
    width: 130px;
    height: 60px;
    background-color: blue;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

button:hover
{
    background-color: blue;
    color: green;
    cursor: pointer;
}